@import 'colors';

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding: 40px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: $color-white;
    border-radius: $border-radius;
    border: 1px solid #ddd;
    overflow: hidden; 
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: 370px;
        object-fit: cover;
        object-position: center;
        background-color: #eee;
    }

    .card-body {
        padding: 20px;
        text-align: center;

        h3 {
            font-size: 1rem;
            margin-bottom: 10px;
            color: $text-dark;
        }

        .price {
            display: block;
            font-size: 1rem;
            font-weight: bold;
            color: $color-bg;
            margin-bottom: 15px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: $color-green;
            color: $color-white;
            border: none;
            border-radius: 6px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.5s;
        }
    }
}

.product-card button:hover {
    background-color: $color-bg;
}

.cat-monitor .product-card img {
    object-fit: contain;
    object-position: 50% 50%;
}

.cat-perifericos .product-card img{
    object-fit: contain;
    object-position: 50% 50%;
}