$color-bg: #1a2a6c;    
$color-sec: #00d2ff;  
$color-green: #2ecc71;     
$color-grey: #f8f9fa;   
$text-dark: #2d3436;
$color-white: #ffffff;
$color-error: #ff7675;

$border-light: 1px solid #e1e4e8;
$border-radius: 12px;
$transition: all 0.5s ease;